<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>sample-01</title>
	<script>window.Promise || document.write('<script src="//www.promisejs.org/polyfills/promise-7.0.4.min.js"><\/script>');</script>

	<!--* vue.js *-->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script> <!-- vue用ajaxライブラリ -->

	<!--* bootstrap-vue
		https://bootstrap-vue.org/ *-->
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
	<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
	<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

	<!--* highlight.js
		https://highlightjs.org/
		https://qiita.com/tadnakam/items/99088d78512a20e75ff3 *-->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/railscasts.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
	<script>
	hljs.configure({
		tabReplace: '    ', // スペース4つ
	})
	hljs.initHighlightingOnLoad();
	</script>

	<style>
	</style>
</head>
<body>
<div class="container">
	<h5>■ Vue.jsの基礎</h5>
	<section>
		| sample-01 |
		  <a href="sample-02.html">sample-02</a> |
		  <a href="sample-03.html">sample-03</a> |
		  <a href="bootstrap-vue.html">bootstrap-vue</a> |
		  <a href="https://github.com/chaordicorg/usage-vuejs">ダウンロード</a> |
	</section>
	<h1>sample-01：バインディングとイベント</h1>

<p>headにCDNで開発バージョンのVue2を読み込む。※公開時にはエラー出力されない本番用を使う</p>
<pre><code>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</code></pre>

<p>#appの中がvueの対象となる</p>
<p>{{テキスト}}でバインディング（※テキストのみ、属性値には使えない）</p>
<p>v-model="リアクティブ・データ"で双方向バインディング</p>
<p>v-on:click="メソッド名"でクリックイベント</p>
<pre><code>
<div id="app">
	<p>{{ fruit1 }}</p>
	<p>{{ fruit2 }}</p>
	<p>{{ fruit3 }}</p>
	<p><input type="text" v-model="fruit1"></p>
	<p><input type="text" v-model="fruit2"></p>
	<p><input type="text" v-model="fruit3"></p>
	<p>{{ vegetable.item1 }}</p>
	<p>{{ vegetable.item2 }}</p>
	<p>{{ vegetable.item3 }}</p>
	<button v-on:click="click_btn">野菜の種類を変える</button>
</div>
</code></pre>

<p>vueのスクリプトは、HTMLの最後に</p>
<p>el: Vueアプリ登録</p>
<p>data: リアクティブ・データ登録（ここに登録されたデータがバインディング可能になる）</p>
<p>methods: メソッド（処理）登録</p>
<pre><code>
var app = new Vue({
	el: '#app',
	data:{
		fruit1: 'りんご',
		fruit2: 'バナナ',
		fruit3: 'みかん',
		vegetable:{
			item1: '白菜',
			item2: '人参',
			item3: '水菜',
		}
	},
	methods:{
		click_btn: function(){
			this.vegetable.item1 = 'じゃがいも';
			this.vegetable.item2 = 'ホウレンソウ';
			this.vegetable.item3 = 'もやし';
		}
	}
});
</code></pre>



<div class="jumbotron">
	<h3>結果：</h3><br>



	<!-- #app -->
	<div id="app">
		<p>{{ fruit1 }}</p>
		<p>{{ fruit2 }}</p>
		<p>{{ fruit3 }}</p>
		<p><input type="text" v-model="fruit1"></p>
		<p><input type="text" v-model="fruit2"></p>
		<p><input type="text" v-model="fruit3"></p>
		<p>{{ vegetable.item1 }}</p>
		<p>{{ vegetable.item2 }}</p>
		<p>{{ vegetable.item3 }}</p>
		<button class="btn btn-primary" v-on:click="click_btn">野菜の種類を変えるボタン</button>
	</div>
	<!-- /#app -->


</div>



<script>
// 特殊文字をエスケープせずにHTMLのソースコードをそのまま表示させる
// https://bit.ly/3kKtalN
document.querySelectorAll('pre > code').forEach(function(elem){
	elem.textContent = elem.innerHTML.trim();
});
</script>



</body>

<script>
var app = new Vue({
	el: '#app',
	data:{
		fruit1: 'りんご',
		fruit2: 'バナナ',
		fruit3: 'みかん',
		vegetable:{
			item1: '白菜',
			item2: '人参',
			item3: '水菜',
		},
	},
	methods:{
		click_btn: function(){
			this.vegetable.item1 = 'じゃがいも';
			this.vegetable.item2 = 'ホウレンソウ';
			this.vegetable.item3 = 'もやし';
		}
	}
});
</script>
</html>